# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\BSharma\Brij\workspace\Azure_Cosmos_Producer_Consumer_RestFul_Microserivce\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
